html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  .toast-success{
    background-image: none !important;
  }
  
  .toast-success::after{
    content: '\f00c' !important;
    font-family: 'FontAwesome' !important;
    position: absolute !important;
    top: 14px !important;
    left: 15px !important;
    color: #333 !important;
    font-size: 1.5em !important;
  }
  
  .toast-title{
    color: white !important;
    font-size: 22px !important;
  }
  
  .toast-message{
    color:white !important;
    font-size: 22px !important;
  }

  .toast-error .icon {
    fill: blue;
    opacity: 1;
  }